

<div class="form-main">
    <div class="row mt-4">
        <div class="col-11">
            <button type="button" class="btn btn-primary float-right" (click)="logout()">Logout</button>
            <button type="button" class="btn btn-primary float-right" [routerLink]="['/hackathon-dashboard']">Challenges List</button>
        </div>
    </div>
    <div id="form-div">
        <form class="form" id="form1" [formGroup]="hackIdeaFormGroup" (ngSubmit)="formSubmit()">

            <p class="name">
                <input formControlName="title" type="text"
                    class="feedback-input" placeholder="Title"
                    id="name" />
            </p>

            <p class="email">
                <input formControlName="tech" type="text" class="feedback-input" 
                    placeholder="Tech" />
            </p>

            <p class="text">
                <textarea formControlName="description" class="feedback-input" id="comment"
                    placeholder="Description"></textarea>
            </p>


            <div class="submit">
                <button id="button-blue" class="ease btn" [disabled]="hackIdeaFormGroup.invalid">Save</button>
            </div>
        </form>
    </div>